<!--
 * @Author: your name
 * @Date: 2019-12-12 14:42:37
 * @LastEditTime: 2019-12-17 19:55:22
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /ViaeouCommonUI/src/app/app.component.html
 -->
<!-- <mat-accordion>
    <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                {{title}}
                </mat-panel-title>
                <mat-panel-description>
                输入提示框
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="itemWrapper">
                <span class="inputTitle">邮箱</span>
                <div class="wrapper">
                    <VComm-input-with-error-hint [inputType]="'email'" [fontSize]="14"></VComm-input-with-error-hint>
                </div>
                <mat-divider></mat-divider>
                <span class="inputTitle">数字</span>
                <div class="wrapper">
                    <VComm-input-with-error-hint [inputType]="'number'" [fontSize]="14"></VComm-input-with-error-hint>
                </div>
                <mat-divider></mat-divider>
                <span class="inputTitle">文本</span>
                <div class="wrapper">
                    <VComm-input-with-error-hint [inputType]="'text'" [fontSize]="14"></VComm-input-with-error-hint>
                </div>
            </div>
        </mat-expansion-panel>
        
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                {{title}}
                </mat-panel-title>
                <mat-panel-description>
                日历
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="itemWrapper">
                <span class="inputTitle">日期</span>
                <div class="wrapper">
                    <VComm-calendar-with-color-set [config]="setting1" (clearDate)="listenClear($event)"></VComm-calendar-with-color-set>
                </div>
                <span class="inputTitle">日期</span>
                <div class="wrapper">
                    <VComm-calendar-with-color-set [config]="setting2"></VComm-calendar-with-color-set>
                </div>
            </div>   
        </mat-expansion-panel>
</mat-accordion> -->
<mat-drawer-container class="example-container" [hasBackdrop]="hasBackdrop.value">
    <mat-drawer #drawer [mode]="mode.value !== undefined ? mode.value : 'side'">I'm a drawer</mat-drawer>
    <mat-drawer-content>
      <mat-form-field>
        <mat-label>Sidenav mode</mat-label>
        <mat-select #mode value="side">
          <mat-option value="side">Side</mat-option>
          <mat-option value="over">Over</mat-option>
          <mat-option value="push">Push</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Has backdrop</mat-label>
        <mat-select #hasBackdrop>
          <mat-option>Unset</mat-option>
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
      <mat-accordion>
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    {{title}}
                    </mat-panel-title>
                    <mat-panel-description>
                    输入提示框
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="itemWrapper">
                    <span class="inputTitle">邮箱</span>
                    <div class="wrapper">
                        <VComm-input-with-error-hint [inputType]="'email'" [fontSize]="14"></VComm-input-with-error-hint>
                    </div>
                    <mat-divider></mat-divider>
                    <span class="inputTitle">数字</span>
                    <div class="wrapper">
                        <VComm-input-with-error-hint [inputType]="'number'" [fontSize]="14"></VComm-input-with-error-hint>
                    </div>
                    <mat-divider></mat-divider>
                    <span class="inputTitle">文本</span>
                    <div class="wrapper">
                        <VComm-input-with-error-hint [inputType]="'text'" [fontSize]="14"></VComm-input-with-error-hint>
                    </div>
                </div>
            </mat-expansion-panel>
            
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    {{title}}
                    </mat-panel-title>
                    <mat-panel-description>
                    日历
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="itemWrapper">
                    <span class="inputTitle">日期</span>
                    <div class="wrapper">
                        <VComm-calendar-with-color-set [config]="setting1" (clearDate)="listenClear($event)"></VComm-calendar-with-color-set>
                    </div>
                    <span class="inputTitle">日期</span>
                    <div class="wrapper">
                        <VComm-calendar-with-color-set [config]="setting2"></VComm-calendar-with-color-set>
                    </div>
                </div>   
            </mat-expansion-panel>
    </mat-accordion>
    </mat-drawer-content>
  </mat-drawer-container>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer [ngClass]="showFiller ? 'expand': 'collapse'" class="example-sidenav" mode="side" (mouseenter)="showFiller = true" (mouseleave)="showFiller = false">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container>